{%extends 'base.html'%}
{% block code %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-body p-4">
                    <h3 class="card-title text-center mb-4">
                        {% if request.user.role == 'freelancer' %}
                        Setup Your Professional Profile
                        {%else%}
                        Register Your Business
                        {%endif%}
                    </h3>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {%for i in form %}
                        <div class="mb-3">
                            <label class="form-label fw-bold">
                                {{i.label}}
                            </label>
                            {{i}}

                        </div>
                        {%endfor%}
                        <button type="submit" class="btn btn-primary w-100 mt-3">Save</button>

                    </form>
                </div>

            </div>
            
        </div>

    </div>
</div>


{%endblock%}